[submodule "Direct3DHook"]
	path = Direct3DHook
	url = https://github.com/s4e-tom/Direct3DHook.git
[submodule "GGRev2ComboRecipeManager"]
	path = GGRev2ComboRecipeManager
	url = https://github.com/WesselKuipers/GGRev2ComboRecipeManager.git


